* { 
    font-family: 'Segoe UI', Verdana, sans-serif; 
    margin: 0;
    color: white;
}

/* --------- Foundation ------------------------------------------------------------------------------------------------------ */

.container {
    background: #2f5785;

    border-top: 10px solid #2f5785;
}

/* -------------Header ------------------------------------------------------------------------------------------------------- */
.header {
   
    margin: 0 auto -10px auto; 
    margin: auto;
   

    background-image: url(dwater.jpg);
    background-repeat: no-repeat;
    background-size: 100%;

   
    display: flex;
    align-items: center; 
    justify-content: space-around; 
    height: 95vh;
}

.header-text-section {
    color: black;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    background: linear-gradient(to bottom, white, #d9e0e9);
     box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.4);

    width: 50%;

    border: 1px solid #2f5785;


    border-radius: 30px;
    padding: 30px;
    
}

.header-text-section h1 {
    font-size: 3rem;
    font-family: monospace;
    color: #2f5785;

    margin: 0 0 10px 0;
    border-right: 5px solid;
    width: 100%;

    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}



.header-text-section h2 {
    font-size: 1.8rem;
    color: #a07454;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);

    margin-bottom: 25px;
}


.header-text-section p {
    color: black;
    
    font-size: 1.2rem;

    line-height: 1.6;

    margin-top: -10px;
}

.header-image-section {
    
    width: 500px;
}

.header-image {
    display: block;

    max-width: 100%;
    height: auto;

    border: none;

    border-radius: 100px;
    box-shadow: 5px 5px #2f5785;
}

.name {
    font-size: 1.5rem;
    white-space: nowrap;
    overflow: hidden; 
  }

/* --------------------------Skills------------------------------------------------------------------------------------------- */

.skills-section {
    background-color: aliceblue;
    padding: 20px;
   
    color: black;
}

.skills-section:hover {
    color: black;
}

.skills-card {

    display: flex;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    background: linear-gradient(to bottom, #2f5785, #0b3260);
     box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.4);
    justify-content: center;
    align-items: center;

    flex-direction: column;
    text-align: center;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
}

.skills-title {
    font-size: 1.5rem;
    margin-bottom: 5px;
    color: black;
    text-align: center;
}

.skills-card:hover { 
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    background: linear-gradient(to bottom, #8CB9F5, #86afde);
     box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.4);
    transform: scale(1.02); 
}

/* --------------------------------------------------------------------------------------------------------------- */

.projects-section h2 {
    font-size: 2rem;
    
    font-weight: lighter;
    text-align: center;
    margin-bottom: 25px solid aliceblue;
    padding-bottom: 20px;

    background-color: aliceblue;
    color: black;
}

.carousel {
    width: 100%;
    display: flex; 
    align-items: center;
    justify-content: center;
    gap: 20px;

    background-color: aliceblue;
}

.projects {
    width: 50%; 
    max-width: 600px; 
    
    overflow: scroll;
    scrollbar-width: none;
    scroll-behavior: smooth;

    display: flex; 
    gap: 30px; 

    padding-bottom: 30px;
}

.project-card {
    max-width: 100%; 
    padding-bottom: 20px;
    max-height: fit-content; 

    text-align: center;

    border-radius: 1.5rem;
    border-top: 1px solid #2f5785;
    
    padding-bottom: 20px;

     
    background: linear-gradient(to bottom, white, white);
     box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.4);

    flex: none; 
}

.project-title {
    font-size: 1.8rem;
    text-align: center;

    color: #2f5785;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);

    margin-top: 1rem;
}

.project-text {
    color: #000000c6;
    padding: 18px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

.project-link {
    --button-color: #4a90e2; 
    background-color: var(--button-color);
    background: linear-gradient(to bottom, #aac9f7, #0b3260); 
    color: white;

    border: 1px solid #8CB9F5;
    border-radius: 20px; 
    padding: 5px 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.4); 
    
    font-family: 'Segoe UI', Verdana, sans-serif; 
    font-size: 16px;
    cursor: pointer;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

.project-link:hover {
    background: linear-gradient(to bottom, #8CB9F5, #5A9CEC);
}

.project-link:active {
    background: linear-gradient(to bottom, #5A9CEC, #8CB9F5);
    color: white;
}

.project-image {
    width: 100%; 
    
    
    display: block; 
    margin: none;

    

    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;

    object-fit: scale-down;

}

#back {
    --button-color: #4a90e2; 
    background-color: var(--button-color);
    background: linear-gradient(to bottom, white, #86afde); 
    color: white;

    border: 1px solid #5A9CEC;
    border-radius: 20px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.4); 
    
    font-family: 'Segoe UI', Verdana, sans-serif; 
    font-size: 20px;
    cursor: pointer;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

#back:hover {
    background: linear-gradient(to bottom, #f9f9f9, #a07454);
    border-color: #f2f2f2;
    color: #f2f2f2;
}

#back:active {
    background: linear-gradient(to bottom, #a07454, #f9f9f9);
    border-color: #a07454;
    color: #a07454;
}

#next {
    --button-color: #4a90e2; 
    background-color: var(--button-color);
    background: linear-gradient(to bottom, white, #86afde); 
    color: white;

    border: 1px solid #5A9CEC;
    border-radius: 20px; 
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.4); 
    
    font-family: 'Segoe UI', Verdana, sans-serif; 
    font-size: 20px;
    cursor: pointer;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

#next:hover {
    background: linear-gradient(to bottom, #f9f9f9, #a07454);
    border-color: #f2f2f2;
    color: #f2f2f2;
}

#next:active {
    background: linear-gradient(to bottom, #a07454, #f9f9f9);
    border-color: #a07454;
    color: #a07454;
}
/* -------------------------------Experiences -------------------------------------------------------------------------------- */

.experiences {
    background-color: #2f5785;
    padding: 20px;
    margin-top: 20px solid aliceblue; 
}

.experiences-title {
    font-size: 2rem;
    color: white;
    margin-bottom: 10px;
    text-align: center;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
}

.experience {
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
    transition: background-color 0.3s ease, transform 0.3s ease; 
    color: rgb(13, 13, 14);
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    background: linear-gradient(to bottom, aliceblue, #d0e6ff);
     box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.4); 
    
}

.topic {
    color: #2f5785;
}

.experience:hover {
     background: linear-gradient(to bottom, white, #8CB9F5); 
    transform: scale(1.02); 
    box-shadow: 0 2px 4px #0000001a; 
}

.topic:hover {
    color: #86afde;
}


.experience h3 {
    font-size: 1.5rem;
    margin-bottom: 5px solid aliceblue;
    color: #333;
}

.experience-header h3 {
    color: black;
}

.experience-header {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.experience p {
    font-size: 1rem;
    line-height: 1.4;
    color: black;
}

.experience:hover .hidden-text {
    color: black;
}

.ellipsis {
    color: black;
}

.experience:hover .hidden-text {
    display: inline;
    color: black;
}

.experience:hover .hidden-text b {
    display: inline;
    color: black;
}

.experience:hover .ellipsis {
    display: none;
}

.hidden-text {
    display: none;
    
}

.ellipsis {
    display: inline;
}

/* -------------------------------------------Info Section-------------------------------------------------------------------- */
.info-section-container { 
    margin: auto;
    text-align: center;
    width: 60%; 
}

.info-section-container h3 { 
    font-size: 2rem;
    font-weight: 200;
}

.info-section-wrapper { 
    margin-top: 15px;
    border-radius: 14px;
    overflow: hidden;
}

.info-wrapper {
    background-color: white;
}

.question { 
    font-size: 1rem;
    font-weight: bold;

    padding: 15px;
    border-bottom: 1px solid gray;
    background: linear-gradient(to bottom, aliceblue, #ffffffa6);

    cursor: pointer;
    transition: background-color 0.4s ease-out; 
}

.question:hover {
    color: rgb(13, 13, 14);
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    background: linear-gradient(to bottom, aliceblue, #d0e6ff);
     box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.4);
}

.question h4, .answer p { 
    color: black;
}

.answer { 
    max-height: 0; 
    overflow: hidden; 

    padding: 0 1rem;
    
    transition: padding 0.3s ease-out; 
    color: black;
    background: linear-gradient(to bottom, white, #b8c5d3);
}

.answer li {
    color: black;
    line-height: 1.6;
}

.answer b {
    color: black;
}

.answer u {
    color: black;
}


.open {
    max-height: fit-content; 
    padding: 1rem; 
    background-color: #f2f2f2;
    color: black;
}


/* --------------Footer------------------------------------------------------------------------------------------------- */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    
    background: #0b3260; 
    color: white;
    box-shadow: 0 4px 10px #00000033;
    padding: 1rem 0;
    width: 100%;
    margin: 20px auto; 
    margin-bottom: 0;
    text-align: center;
}

.footer-content {
    display: flex;
    gap: 20px;
    justify-content: center; 
}

.footer-content a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.3s ease; 
}

.footer-content a:hover {
    color: #5b81b4; 
}
