* {  
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
margin: 0;
}

.banner4 {
margin: auto;
padding: 15px;
background-color: white;
border-bottom: 1px solid black;
}

.banner4-button {
    --button-color: #4a90e2; 
    background-color: var(--button-color);
    background: linear-gradient(to bottom, #aac9f7, #4a90e2); 
    color: white;

    border: 1px solid #357ABD;
    border-radius: 20px; 
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.4); 
    
    font-family: 'Segoe UI', Verdana, sans-serif; 
    font-size: 16px;
    cursor: pointer;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

.banner4-button:hover {
    background: linear-gradient(to bottom, #8CB9F5, #5A9CEC);
}

.banner4-button:active {
    background: linear-gradient(to bottom, #5A9CEC, #8CB9F5);
    color: white;
}

.searchbox-section {
    text-align: right;
    line-height: 1.6;

    margin: auto;
    padding: 15px;
    background-color: white;
}

.searchbox-card {
    border-radius: 20px;
    border-color: #2f5785;
}

#search-input {
    border-radius: 100px;
    padding: 10px;
    font-size: 1rem;
}

.header4 {
text-align: center;
font-size: 1.5rem;
background-image: url("stars.jpg");
background-repeat: no-repeat;
background-size: 100%;

margin: 0 auto 0 auto; 
padding: 100px;
border-bottom: 10px solid #92b0d3;
color: white;
text-shadow: 0px 2px 0px grey;
}

.projects4-section {
background-color: aliceblue; 
padding: 20px;
margin: auto;
color: black;

}

.projects4-card {
display: flex;
text-shadow: 0 2px 0 rgb(222, 222, 222);
background: linear-gradient(to bottom, white, #d9e0e9);
 box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.4);
margin: 50px;
text-spacing-trim: -20px;
line-height: 1.6;

flex-direction: column;
padding: 20px;
margin-bottom: 15px;
border-radius: 10px;

}

.projects-photos {
justify-content: right;
align-items: right;

display: block;
text-align: center;
}



